<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='zs-webpage.css') }}" /> -->
    <link rel="stylesheet" href="/Users/ayushpatne/Developer/Zomato-Scraper/website/static/zs-webpage.css" />

</head>
<body style="margin: 0;">
    <div class=" zs-export">
        
        <!-- {% for key in results %}
        <div class="card">
            <div class="form-text-16">{{key['Name']}}</div>
            <div class="form-text-16">{{key['Prices']}}</div>
        </div>
        <br><br>

        {% endfor %} -->
        <div class="center-wrapper">
            <div class="zomato-scraper-wrapper">
                <div class="zomato-scraper-export">
                    zomato scraper
                </div>
            </div>

            <div class="form-text-24-export">
                Scraped X Results for City_Name
            </div>

            <form method="post" action="/export">
                <div class="form-text-24-export">Save As:</div>
                <div class="container">
                  <button type="submit" class="button buttontext" name="action", value="csv">.csv</button>
                  <button type="submit" class="button buttontext" name="action" value="json">.JSON</button>
                  <button type="submit" class="button buttontext" name="action" value="xlsx">.xlsx</button>
                </div>
            </form>

            <br>
            <div class="card">
                <div>
                    <div class=" form-text-16-export">Name</div>
                    <div class="form-text-16-light-export">Cuisines</div>
                    <div class="form-text-16-light-export">Address</div>
                </div>
                <div>
                    <div class="form-text-16-light-export">Price</div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="form-text-16-export">Name</div>
                <div class="form-text-16-light-export">Price</div>
            </div>
        <br>
        </div>
    </div>
</body>
</html>